@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");

$font-family--heading: "Inter", -apple-system, sans-serif;
$font-family--body: "Montserrat", sans-serif;

$base-font-size: 16px;
$base-font-weight: 400;
$base-font-weight-xl: 600;
$base-font-line-height: 1.5;
$base-font-line-height-l: 2;

p,
ul,
li {
  font-size: 1rem;
  font-family: $font-family--body;
  font-weight: $base-font-weight;
  line-height: $base-font-line-height;
  @media only screen and (max-width: 768px) {
    font-size: .8rem;
   }
}

h4 {
  font-size: 1.2rem;
  font-family: $font-family--heading;
  font-weight: $base-font-weight-xl;
  line-height: $base-font-line-height;
  @media only screen and (max-width: 768px) {
    font-size: 1rem;
   }
}

h3 {
  font-size: 1.4rem;
  font-family: $font-family--heading;
  font-weight: $base-font-weight-xl;
  line-height: $base-font-line-height;
  @media only screen and (max-width: 768px) {
    font-size: 1.2rem;
   }
}

h2 {
  font-size: 2rem;
  font-family: $font-family--heading;
  font-weight: $base-font-weight-xl;
  line-height: $base-font-line-height;
  @media only screen and (max-width: 768px) {
    font-size: 1.6rem;
   }
}

h1 {
  font-size: 2.5rem;
  font-family: $font-family--heading;
  font-weight: $base-font-weight-xl;
  line-height: $base-font-line-height;
  @media only screen and (max-width: 768px) {
   font-size: 2rem;
  }

}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  --logo: url("../.../../../png"norepeat);
}

* {
  margin-top: 0;
}

body.light {
  //colors
  --accent: #e63946;
  --dark-blue: #000f23;
  --light-blue: #457b9d;
  --mid-blue: #a8dadc;
  --background: #f1faee;
  --border: #E4ECE1;
  --background-surface: #fff;

  // shadows
  --shadow-elevation-1: 6.3px 12.5px 10px rgba(0, 0, 0, 0.035),
    50px 100px 80px rgba(0, 0, 0, 0.07);
  --shadow-elevation-2: 3.3px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    11.2px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    50px 100px 80px rgba(0, 0, 0, 0.07);
  --shadow-elevation-3: 2.3px 4.5px 3.6px rgba(0, 0, 0, 0.024),
    6.3px 12.5px 10px rgba(0, 0, 0, 0.035),
    15.1px 30.1px 24.1px rgba(0, 0, 0, 0.046),
    50px 100px 80px rgba(0, 0, 0, 0.07);

  //text
  --text: var(--dark-blue);
  --text-color: var(--dark-blue);
  --text-color-invert: var(--background);

  --primary-text-color: var(--background);
  --text-light-blue: var(--text-light-blue);
  --btn-text-color: var(--background);

  //logo 
  --primary-color: var(--dark-blue);
  --secondary-color: var(--light-blue);

  //component -- header/navigation
  --site-header: var(--background);
  //component -- featured bg
  --featured-bg: var(--dark-blue);
  --featured-text: var(--background);
  //component -- button
  --btn-bg: var(--background);
  --btn-bdr: var(--background);
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #var(--dark-blue);
  //component -- input
  --input-bg: var(--background);
  //component -- card
  --card-bg: var(--mid-blue);
  --card-bdr: var(--border);
  //component -- border
  --contact-bg: var(--background);
  --contact-bdr: var(--background);
}

body.dark {
  //colors
  --accent: #e63946;
  --dark-blue: #f1faee;
  --light-blue: #457b9d;
  --mid-blue: #a8dadc;
  --background: #000f23;
  --background-surface: #0A182C;
  --border: #263344;

    //logo 
    --primary-color: var(--dark-blue);
    --secondary-color: var(--light-blue);

  //text
  --text: var(--dark-blue);
  --text-color: var(--dark-blue);
  --text-color-invert: var(--background);
  --primary-text-color: var(--background);
  --text-light-blue: var(--text-light-blue);
  --btn-text-color: var(--background);

  //component -- header/navigation
  --site-header: var(--background);
  //component -- featured bg
  --featured-bg: var(--dark-blue);
  --featured-text: var(--background);
  //component -- button
  --btn-bg: var(--background);
  --btn-bdr: var(--background);
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: var(--dark-blue);
  //component -- input
  --input-bg: var(--background);
  //component -- card
  --card-bg: var(--background-light);
  --card-bdr: var(--border);
  //component -- border
  --contact-bg: var(--background);
  --contact-bdr: var(--background);
}

/* System Fonts as used by Medium and WordPress */
body {
  font-family: $font-family--heading;
  border-top: 4px solid var(--dark-blue);
  background-color: var(--background);
  color: var(--dark-blue);
}

a {
  color: var(--dark-blue);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p > span > a {
  color: var(--dark-blue);
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

.site-wrapper {
  padding: 1rem 1.25rem;
  max-width: 1140px;
  margin: 0 auto;

  img {
    max-width: 100%;
  }
}

// NAVIGATION

.site-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  background: var(--site-header);
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;

  a {
    font-weight: 400;
    font-family: $font-family--heading;
    color: var(--font);
    text-decoration: none;
    text-align: center;
    word-wrap: break-word;
    margin: 0 8px 0;

    &[aria-current] {
      color: var(--dark-blue);
      font-weight: 700;
    }

    &:hover {
      color: var(--dark-blue);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// HOMEPAGE HEADER

.hero-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.primary-content {
  max-width: 612px;
  margin-bottom: 32px;
  line-height: 1.8;
  font-family: $font-family--body;
}

// Homepage custom rendered name

.site-title {
  display: flex;
  flex-direction: row;

  > svg {
    margin-right: 4px;

    :hover {
      cursor: pointer;
    }
  }
}

// COMPANIES HEADER

.companies-header {
  display: flex;
  background-color: var(--dark-blue);
  color: var(--text-color-invert);
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 4rem 2rem;
  border-radius: 8px;
  @media only screen and (max-width: 768px) {
    padding: 2rem 1rem;
  }
}

.companies-intro {
  > p {
    max-width: 612px;
    margin-bottom: 48px;
    line-height: $base-font-line-height-l;
  }
}

.companies-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  grid-auto-rows: minmax(auto, auto);
  justify-items: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  > img {
    height: 48px;
  }
}

// BUTTON

.button {
  padding: 12px 16px;
  width: fit-content;
  display: inline-block;
  background: var(--btn-bg);
  border: 1px solid var(--btn-bdr);
  border-radius: 8px;
  text-decoration: none;
  color: var(--btn-text-color);
  font-size: 16px;
  font-weight: 400;
  margin: 0 1rem 0 0;
  transition: background-color 0.3s ease-in-out;

  @media only screen and (max-width: 768px) {
    padding: 8px 12px;
  }

  &.-primary {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    color: var(--primary-text-color);

    &:hover {
      background-color: var(--light-blue);
      border-color: var(--light-blue);
      color: var(--primary-text-color);
      text-decoration: none;
    }
  }

  &.-transparent {
    border-color: var(--dark-blue);
    background: var(--background-surface);
    color: var(--dark-blue);

    &:hover {
      background-color: var(--background-surface);
      border-color: var(--dark-blue);
      color: var(--dark-blue);
      text-decoration: none;
    }
  }

  &:hover {
    background-color: var(--dark-blue);
    color: var(--primary-text-color);
  }
}

// CASE STUDY ON HOMEPAGE

.caseStudies-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
}

.caseStudies-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 48px;

  @media only screen and (max-width: 768px) {
    grid-gap: 24px;
  }

  > .caseStudy {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--background-surface);
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      background: var(--background-surface);
    }

    &.-flipped {
      flex-direction: row;
      @media only screen and (max-width: 768px) {
        flex-direction: column;
        background: var(--background-surface);
      }
    }
  }
}

.caseStudy {
  a.caseStudy-thumbnail {
    display: flex;
    width: 66%;
    min-height: 40vh;

    @media only screen and (max-width: 768px) {
      width: 100%;
      min-height: auto;
    }
  }

  &:hover {
    cursor: pointer;
    //background-color: var(--background-light);
    box-shadow: var(--shadow-elevation-1);
  }

  > a {
    text-decoration: none;
  }

  .caseStudy-wrapper {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin-bottom: 0;
    width: 33%;
    justify-content: center;
    padding: 2rem;

    @media only screen and (max-width: 768px) {
      width: auto;
      padding: 1rem;
    }

    .caseStudy-details {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-content: center;
      justify-content: center;

      > a {
        margin-bottom: 1rem;
      }
    }

    .caseStudy-title {
      font-family: $font-family--heading;
      text-decoration: none;

      @media only screen and (max-width: 768px) {
        margin: 0 0 1rem 0;
      }
    }

    .caseStudy-description {
      font-weight: 300;
      margin: 0 0 1rem 0;
    }

    .caseStudy-history {
      display: flex;
      width: 100%;
      padding: 1rem 0 0 0;
      gap: 1rem;
      flex-direction: row;
      border-top: 1px solid var(--card-bdr);
      align-items: center;
      justify-content: center;

      > span {
        display: inherit;
        flex: 1;
        margin: 0;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 1px;
        @media only screen and (max-width: 768px) {
          display: none;
        }
      }

      .caseStudy-company{
        max-height: 24px;
      }
    }
  }

  .caseStudy-link {
    text-decoration: none;
  }

  .caseStudy-role {
    font-size: 12px;
  }
}

.site-footer {
  display: flex;
  background: var(--background-strong);
  color: var(--primary-text-color);
  padding: 48px 24px 64px 24px;
  justify-content: center;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 48px;
  }

  .footer-social.footer-social-links {
    display: grid;
  }
}

li.footer-social-link-item > a:hover {
  text-decoration: none;
}

// CASE STUDY PAGE

.form-container {
  background-color: var(--contact-bg);
  padding: 32px;
  border: 1px solid var(--contact-bdr);
  border-radius: 8px;

  label {
    display: block;
    margin-bottom: 48px;
    color: var(--text-light-blue);
  }

  input[type="text"],
  input[type="email"],
  textarea {
    appearance: none;
    border: 1px solid var(--card-shadow);
    color: var(--text-light-blue);
    border-radius: 6px;
    line-height: 32px;
    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
    background-color: var(--input-bg);
    font-family: $font-family--heading;
  }

  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}

.two-grids {
  display: grid;
  grid-gap: 32px;

  &.-contact {
    .caseStudy-thumbnail {
      min-height: 240px;
    }
  }
}

/* Portrait and Landscape */
@media only screen and (min-width: 768px) {
  .grids {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}

// theme-changer
.theme-changer {
  display: none;
}

body.dark {
  .gg-moon {
    display: none;
  }
}

body.light {
  .gg-sun {
    display: none;
  }
}

.mode-container {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  cursor: pointer;
}

// CSS.gg icons for sun and moon
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 24px;
  background: linear-gradient(to bottom, currentColor 4px, transparent 0)
      no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px
      14px/2px 6px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 14px
      5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -5px;
  top: 4px;
}

.gg-sun::before {
  transform: rotate(-45deg);
}

.gg-sun::after {
  transform: rotate(45deg);
}

.gg-moon,
.gg-moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom-color: transparent;
}

.gg-moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

body.dark {
  #companies-list > img {
    filter: brightness(0.64) sepia(0) hue-rotate(0deg) saturate(1);
  }
}

// ABOUT ME

.aboutMe-header {
  display: flex;
  background-color: var(--background);
  color: var(--text-color);
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  padding: 4rem 0rem;
  border-radius: 8px;

  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 0;
  }
}

.aboutMe-intro,
.intro,
.aboutMe-faq {
  max-width: 80%;

  @media only screen and (max-width: 768px) {
    max-width: 100%;
    padding: 0;
  }

  > h2 {
    margin: 64px 0 48px 0;
    font-size: 2.5rem;
  }
  > p {
    margin-bottom: 48px;
    line-height: $base-font-line-height-l;
  }
  > p > ul {
    padding: 32px;
    @media only screen and (max-width: 768px) {
      padding: 0 0 0 24px;
    }
  }
  > p > ul > li {
    line-height: $base-font-line-height-l;
  }
}

.aboutMe-hobbies {
  max-width: 80%;

  @media only screen and (max-width: 768px) {
    max-width: 100%;
    padding: 0;
  }
  p {
    margin-bottom: 48px;
    line-height: $base-font-line-height-l;
  }
}

.aboutMe-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 360px);
  grid-gap: 24px;

  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 512px);
  }

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.aboutMe-faq-item {
  padding: 0 0 16px 0;

  h3 {
    font-weight: 600;
    margin: 0 0 8px 0;
  }
}
